{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Contact</h1>

        {{ form_start(form) }}
            
            {{ form_widget(form) }}

            <button class="btn bnt-info">Envoyer</button>
        {{ form_end(form) }}
    </div>
{% endblock %}